<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Home</title>
<style>
.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.info {
  border-color: #2196F3;
  color: dodgerblue;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
body {
		font-family: 'Candara', serif;
		font-size: 20px;
		color: dodgerblue;
		}
</style>
<div><center><h1>WELCOME TO LOCAL HOME NETWORK !</h1></center></div>
  <div class="center">
 <form action="{{ url_for('register') }}" method="post">
	<center><button type="submit" name="reg" value="REGISTER" class="btn info">REGISTER</button></center>
</form>
<form action="{{ url_for('login_pswd') }}" method="post">
	<center><button type="submit" name="login_pswd" value="LOGIN WITH USERNAME AND PASSWORD" class="btn info">LOGIN WITH USERNAME AND PASSWORD</button></center>
</form>
<form action="{{ url_for('login_facial') }}" method="post">
	<center><button type="submit" name="login_facial" value="LOGIN USING FACE ID" class="btn info">LOGIN USING FACE ID</button></center>
</form>
</div>
</head>
</html>

